@import url("../icons.css");
@tailwind base;

/* CUSTOM CSS */
[type="checkbox"]:checked,
[type="radio"]:checked,
.dark [type="checkbox"]:checked,
.dark [type="radio"]:checked {
  background-size: 1.3em 1.3em;
}
.[type="checkbox"]:checked,
[type="radio"]:checked {
}

@tailwind components;
@tailwind utilities;

/* == START == */
@layer base {
  :root {
    /* --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%; */

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    /* --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem; */
  }
  /* 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --ring: 212.7 26.8% 83.9%;
  } */

  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.125rem;
  }
  h6 {
    font-size: 0.875rem;
  }
}

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

@layer components {
}

@layer utilities {
  container-primary {
    @apply container mx-auto px-4 sm:px-6 lg:px-8;
  }

  .container-fluid {
    @apply px-4 sm:px-6 lg:px-8;
  }

  /* ANIMATION */
  .transition-300 {
    @apply transition-all duration-300 ease-in-out;
  }

  /* BACKGROUND */
  .gradient-bg-1 {
    background: linear-gradient(
      180deg,
      rgba(0, 172, 255, 0.46) 0%,
      rgba(189, 0, 255, 0.35) 100%
    );
  }

  .gradient-bg-2 {
    background: var(
      --Gradients-Blue-Havelock,
      linear-gradient(250deg, #fff 2.51%, rgba(212, 241, 255, 0.54) 96.8%)
    );
  }

  /* FONT */
  .font-10m {
    font-size: 10px;
    @apply font-medium;
  }
  .font-10sm {
    font-size: 10px;
    @apply font-semibold;
  }
  .font-12m {
    font-size: 12px;
    @apply font-medium;
  }
  .font-12sb {
    @apply text-xs font-semibold;
  }
  .font-13m {
    font-size: 13px;
    @apply font-medium;
  }
  .font-13sb {
    font-size: 13px;
    @apply font-semibold;
  }
  .font-14m {
    @apply text-sm font-medium;
  }
  .font-14sb {
    @apply text-sm font-semibold;
  }

  /* Title */
  .title-3 {
    @apply font-semibold text-lg;
  }

  /* Badge Size */
  .badge-md {
    padding: 6px 8px;
    @apply text-xs font-semibold;
  }
  .badge-sm {
    padding: 2.5px 6px;
    @apply text-xs font-semibold;
  }
  .badge-sm-withouttext {
    height: 8px;
    width: 8px;
    @apply text-xs font-semibold flex justify-center
      items-center;
  }

  /* Dropdown Button */

  /* CARD */
  .card-padding {
    @apply px-5 py-3;
  }
  .card-title {
    @apply font-body-13m text-text-main;
  }
  .card-description {
    @apply font-body-12m text-text-200 leading-5;
  }

  .card-image {
    content: "";
    @apply overflow-hidden object-cover;
  }

  /* == FORM ==  */
  /* Required */
  .required-mark {
    @apply after:content-['*'] after:ml-0.5 after:text-red-500;
  }

  .input-icon-position {
    @apply absolute inline-flex flex-col h-full justify-center px-3;
  }

  /* Input Field */
  .form-input-outline-gray {
    @apply bg-white border border-gray-300 text-gray-900 outline-none ring-0  focus:ring-0 focus:outline-none focus:border-gray-300 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-gray-500;
  }

  .form-input-filled-gray {
    @apply bg-gray-200 border border-gray-300 text-gray-900 outline-none ring-0 focus:ring-0 focus:outline-none focus:border-gray-300 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-gray-500;
  }

  /* Vue Smart Scroll Bar */
  .ps {
    height: 200px !important;
  }

  /* Custom Scrollbar */
  /* .no-scrollbar {
    scrollbar-width: none;
  }*/

  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar:hover {
    @apply transition-all;
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    all: unset;
    border-radius: 10px;
    @apply bg-white dark:!bg-dark-bgPrimary;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-transparent;
    border-radius: 10px;
  }
  .sidebar:hover ::-webkit-scrollbar-thumb {
    @apply bg-slate-400 transition-all dark:!bg-slate-700;
    border-radius: 10px;
  }

  .bg-black {
    background-color: black;
  }

  /* Style the custom checkbox */
  /* .custom-checkbox input[type="checkbox"] + span::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #000;
    background-color: #fff;
  }
*/
  /* Show the checkmark when checked */
  /* .custom-checkbox input[type="checkbox"]:checked + span::after {
    background-color: #fff !important;
    content: "\2713"; 
    text-align: center;
    line-height: 16px;
    color: #fff;
  } */
}

/* Note */
/* dark hover: bg-gray-800 */
