@tailwind base;

/* CUSTOM CSS */
[type="checkbox"]:checked,
[type="radio"]:checked,
.dark [type="checkbox"]:checked,
.dark [type="radio"]:checked {
  background-size: 1.3em 1.3em;
}

.[type="checkbox"]:checked,
[type="radio"]:checked {
}

@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.125rem;
  }
  h6 {
    font-size: 0.875rem;
  }
}

@layer components {
}

@layer utilities {
  /* Global */
  container-primary {
    @apply container mx-auto px-4 sm:px-6 lg:px-8;
  }
  .container-fluid {
    @apply px-4 sm:px-6 lg:px-8;
  }

  /* Animation */
  .transition-300 {
    @apply transition-all duration-300 ease-in-out;
  }

  /* FONT */
  .font-body-14m,
  .font-14m {
    @apply text-sm font-medium;
  }
  .font-body-14sm,
  .font-14sm {
    @apply text-sm font-semibold;
  }

  .font-body-13sb,
  .font-13sb {
    font-size: 13px;
    @apply font-semibold;
  }

  .font-body-13m,
  .font-13m {
    font-size: 13px;
    @apply font-medium;
  }

  .font-body-12sb,
  .font-12sb {
    @apply text-xs font-semibold;
  }

  .font-body-12m,
  .font-12m {
    font-size: 12px;
    @apply font-medium;
  }

  .font-body-10m,
  .font-10m {
    font-size: 10px;
    @apply font-medium;
  }

  /* Filled Button Color */
  /* .filled-primary {
    @apply text-white bg-primary hover:bg-primary-darker;
  }
  .filled-secondary {
    @apply text-text-400 bg-secondary hover:bg-secondary-darker;
  }
  .filled-info {
    @apply bg-info hover:bg-info-darker;
  }
  .filled-success {
    @apply bg-success hover:bg-success-darker;
  }
  .filled-warning {
    @apply bg-warning hover:bg-warning-darker;
  }
  .filled-error {
    @apply bg-error hover:bg-error-darker;
  } */

  /* Outline Button Color */
  /* .outline-primary {
    @apply text-primary bg-transparent border-primary outline-none hover:text-white hover:bg-primary dark:border-primary dark:text-primary dark:hover:text-white dark:hover:border-primary;
  }
  .outline-secondary {
    @apply text-text-400 bg-transparent border-text-400 outline-none hover:text-white hover:bg-text-400 dark:hover:bg-white dark:hover:text-black;
  }
  .outline-info {
    @apply text-info bg-transparent border-info outline-none hover:text-white hover:bg-info dark:border-info dark:text-info dark:hover:text-white dark:hover:border-info;
  }
  .outline-success {
    @apply text-success bg-transparent border-success outline-none hover:text-white hover:bg-success dark:border-success dark:text-success dark:hover:text-white dark:hover:border-success;
  }
  .outline-warning {
    @apply text-warning bg-transparent border-warning outline-none hover:text-white hover:bg-warning dark:border-warning dark:text-warning dark:hover:text-white dark:hover:border-warning;
  }
  .outline-error {
    @apply text-error bg-transparent border-error outline-none hover:text-white hover:bg-error dark:border-error dark:text-error dark:hover:text-white dark:hover:border-error;
  } */

  /* Translucent Button Color */
  /* .translucent-primary {
    @apply text-primary bg-primary/15 border-primary hover:text-primary-darker hover:bg-primary/40 dark:text-primary;
  }
  .translucent-secondary {
    @apply text-slate-400 bg-secondary border-text-400 hover:text-black hover:bg-text-400/20  dark:text-gray-500 dark:hover:bg-white dark:hover:text-gray-500;
  }
  .translucent-info {
    @apply text-info bg-info/15 border-info hover:text-info-darker hover:bg-info/40 dark:hover:text-info;
  }
  .translucent-success {
    @apply text-success bg-success/15 border-success hover:text-success-darker hover:bg-success/40 dark:hover:text-success;
  }
  .translucent-warning {
    @apply text-warning bg-warning/15 border-warning hover:text-warning-darker hover:bg-warning/40 dark:hover:text-warning;
  }
  .translucent-error {
    @apply text-error bg-error/15 border-error hover:text-error-darker hover:bg-error/40 dark:hover:text-error;
  } */

  /* Shape */
  .shape-rounded-btn {
    border-radius: 4px;
  }

  /* ==== SIZE === */
  /* Button Size */
  .btn-sm {
    padding: 5px 20px;
    @apply text-xs font-semibold;
  }
  .btn-md {
    padding: 15px 20px;
    @apply text-xs font-semibold;
  }
  .btn-lg {
    padding: 15px 20px;
    @apply text-xs font-semibold;
  }

  /* Icon Button Size */
  .icon-btn-sm {
    padding: 8px 8px;
    @apply text-base;
  }
  .icon-btn-md {
    padding: 8px 8px;
    @apply text-base;
  }
  .icon-btn-lg {
    padding: 10px 10px;
    @apply text-base;
  }

  /* Badge Size */
  .badge-md {
    padding: 6px 8px;
    @apply text-xs font-semibold;
  }
  .badge-sm {
    padding: 2.5px 6px;
    @apply text-xs font-semibold;
  }
  .badge-sm-withouttext {
    height: 8px;
    width: 8px;
    @apply text-xs font-semibold flex justify-center
      items-center;
  }

  /* Dropdown Button */
  .dropdown-md {
    padding: 10px 24px;
    @apply text-sm font-semibold;
  }
  .dropdown-lg {
    padding: 12px 26px;
    @apply text-sm font-semibold;
  }

  /* CARD */
  .card-padding {
    @apply px-5 py-3;
  }
  .card-title {
    @apply font-body-13m text-text-main;
  }
  .card-description {
    @apply font-body-12m text-text-200 leading-5;
  }

  .card-image {
    content: "";
    @apply overflow-hidden object-cover;
  }

  /* == FORM ==  */
  /* Required */
  .required-mark {
    @apply after:content-['*'] after:ml-0.5 after:text-red-500;
  }

  .input-icon-position {
    @apply absolute inline-flex flex-col h-full justify-center px-3;
  }

  /* Input Field */
  .form-input-outline-gray {
    @apply bg-white border border-gray-300 text-gray-900 outline-none ring-0  focus:ring-0 focus:outline-none focus:border-gray-300 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-gray-500;
  }

  .form-input-filled-gray {
    @apply bg-gray-200 border border-gray-300 text-gray-900 outline-none ring-0 focus:ring-0 focus:outline-none focus:border-gray-300 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-gray-500;
  }

  /* Checkbox */

  /* Style the custom checkbox */
  /* .custom-checkbox input[type="checkbox"] + span::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #000;
    background-color: #fff;
  }
*/
  /* Show the checkmark when checked */
  /* .custom-checkbox input[type="checkbox"]:checked + span::after {
    background-color: #fff !important;
    content: "\2713"; 
    text-align: center;
    line-height: 16px;
    color: #fff;
  } */

  /* TEST */
  .test {
    @apply text-sm font-semibold leading-2 py-3 w-10;
  }
}
